body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    background-color: #edeee4;
    margin: 10px;
    padding: 10px;
}
h1{
    color: #131c9d;
}
h3{
    color: #131c9d;
}